.centeredText {
  font-size: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  color: rgb(137, 45, 45);
  font-family: "Edu AU VIC WA NT Arrows", cursive;
}
.planesContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}

.left,
.right {
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
}

.left {
  background-color: #f9f9f9;
}

.right {
  background-color: #fff;
}
.busesContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}

.left,
.right {
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
}

.left {
  background-color: #eef6f9;
}

.right {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .busesContainer {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
}
