.placeItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 120px;
  background-attachment: lazy;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 16px;
}

.info {
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  margin: 4px 0;
}

.h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.buttonTopRight {
  margin-left: auto;
}
