.dropdownContainer {
  position: relative;
  display: inline-block;
}

.avatarButton {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.avatarIcon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  color: #9ca3af;
  left: -0.25rem;
}

.dropdownMenu {
  z-index: 10;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 11rem;
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  overflow: hidden;
}
.dropdownMenu a {
  color: #000000;
}

.dropdownItem {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
}

.dropdownItem:hover {
  background-color: #f3f4f6;
}

.dropdownItemDark {
  color: #e5e7eb;
}

.dropdownItemDark:hover {
  background-color: #4b5563;
  color: #ffffff;
}
