.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.busesSection,
.recommendationSection {
  width: 48%;
}

.header {
  margin-bottom: 15px;
}

.sortButtons {
  display: flex;
  gap: 10px;
}

.sortButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.sortButton:hover {
  background-color: #0056b3;
}

.noBuses {
  color: #888;
  font-style: italic;
  text-align: center;
}

.busList,
.recommendationList {
  list-style-type: none;
  padding: 0;
}

.busItem,
.recommendationItem {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.busItem:hover,
.recommendationItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.busDetails h3 {
  margin: 0 0 10px 0;
}

.busDetails p {
  margin: 5px 0;
}
