.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}


.sortButtons {
  display: flex;
  gap: 15px;
  margin-top: 1rem;
}

.sortButton {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sortButton:hover {
  background-color: #0056b3;
}

.busList {
  list-style-type: none;
  padding: 0;
}

.busItem {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.busItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.busDetails h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.busDetails p {
  font-size: 1rem;
  margin: 5px 0;
  color: #555;
}

.busDetails strong {
  color: #333;
}

.busDetails p:last-child {
  font-size: 1.1rem;
  font-weight: bold;
  color: #007BFF;
}

.noBuses {
  font-size: 1.2rem;
  color: #ff4d4f;
  text-align: center;
  margin-top:20px;
}