.imageContainer {
  background-image: url(../../assets/image1.png); /* Your background image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex; /* Center the container */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem; /* Padding inside the container */
  border-radius: 8px; /* Round corners */
  box-shadow: none; /* Remove shadow from button */
  width: 60%; /* Width of the form container */
}

.row {
  display: flex;
  justify-content: space-between; /* Evenly space children */
  gap: 1rem; /* Space between items */
}

.inputField {
  width: 45%; /* Width for Source and Destination */
  padding: 10px;
  flex: 1; /* Allow the field to grow */
}

.currencyInput {
  width: 45%;
  position: relative;
}

.currencySymbol {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.datepicker {
  width: 100%; /* Full width for DatePicker */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.datepicker:focus {
  border-color: #ffffff; /* Indigo color */
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  align-items: center; /* Center vertically */
}

.budgetContainer {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow the budget input to grow */
}

.categoryContainer {
  display: flex;
  flex-direction: row; /* Arrange categories in a row */
  justify-content: space-around; /* Space between categories */
  gap: 1rem;
}

.categoryButton {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px; /* Space around the button */
  margin: 0px; /* Add space between category buttons */
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.buttonImage {
  width: 100px; /* Icon-like appearance */
  height: 100px;
  object-fit: cover;
  border-radius: 10%; /* Soft look */
  margin-bottom: 5px;
  transition: transform 0.3s ease, border 0.3s ease; /* Add border transition */
  border: 2px solid transparent; /* Default no border */
}

.selectedImage {
  width: 100px; /* Keep the size the same as unselected */
  height: 100px;
  border: 2px solid rgb(119, 232, 107); 
}

.categoryButton:hover .buttonImage {
  transform: scale(1.1); /* Scale effect on hover */
}
