/* FormReq.module.css */
.imageContainer {
  background-image: url(../../assets/image1.png); /* Adjust the background image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: none;
  width: 60%;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap; /* Allow wrapping of items on smaller screens */
}

.inputField, .currencyInput {
  width: 45%;
  flex: 1;
}

.currencyInput {
  position: relative;
}

.currencySymbol {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.datepicker {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.budgetContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

/* Category Button Styling */
.categoryButton {
  border: none;
  margin-top: 2rem;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.buttonImage {
  width: 100%; /* Ensure the image takes up full width of the button */
  max-width: 80px; /* Limit the maximum width */
  height: auto;
  border-radius: 10%; /* Keep a small border radius on the image itself */
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.selectedImage {
  border: 2px solid rgb(119, 232, 107);
}

.categoryButton:hover .buttonImage {
  transform: scale(1.1);
}

.categoryButton span {
  font-size: 0.875rem; /* Adjust font size for smaller screens */
  color: #333;
  word-wrap: break-word;
  width: 100%; /* Make sure text takes up full width of the button */
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 1rem;
  }

  .row {
    flex-direction: column;
  }

  .inputField, .currencyInput {
    width: 100%;
  }

  .categoryContainer {
    justify-content: space-between;
  }

  

  .buttonImage {
    max-width: 70px; /* Adjust image size on medium screens */
  }

  .categoryButton span {
    font-size: 0.85rem; /* Slightly reduce the text size */
  }
}

@media (max-width: 480px) {
  

  .buttonImage {
    max-width: 60px; /* Reduce image size for small screens */
  }

  .categoryButton span {
    font-size: 0.8rem; /* Reduce font size for smaller screens */
    word-wrap: break-word;
  }
}
