.headerContainer {
    width: 100%; 
    height: 50%;
    margin: 0 auto; /* Center horizontally */
    background-color: #da3b3b; /* Background color */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding for spacing */
    font-size: xx-large;
    font-style: italic bold;
  }
  
  .headerContainer h1 {
    font-weight: bold;
    font-style: italic;
    color: white;
  }
  
  .headerContainer h3 {
    color: white;
  }