.busListRec {
    padding: 10px;
  }
  
  .busListRec h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .busListRec ul {
    list-style-type: none;
    padding: 0;
  }
  
  .busListRec .busItem {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .centeredText {
    font-size: 48px; /* Adjust font size */
    text-align: center; /* Center text horizontally */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10rem;
    color: rgb(137, 45, 45);
    font-family: "Edu AU VIC WA NT Arrows", cursive;
  }
  