/* PlanPage.module.css */

/* Make sure the body and html take full height */
html, body {
  height: 100%; /* Ensures the full height is used */
  margin: 0; /* Remove default margin */
}

.planPageContainer {
  display: flex; /* Use flexbox to align children */
  width: 100%; /* Full width */
  height: 100vh; /* Full viewport height */
}

.placeList {
  flex: 7; /* 70% of the space */
  padding: 20px; /* Add some padding */
  overflow-y: auto; /* Allow scrolling if the content exceeds the height */
}

.mapContainer {
  flex: 3; /* 30% of the space */
  padding: 20px; /* Add some padding */
  background-color: #fff; /* Ensure a white background for the map */
  height: 100%; /* Ensure the map container takes full height */
}
